$terracotta-color-main: #F66672;
$green-color-main: #228B22FF;
$white-color-main: #FFF;
$black-color-main: #000;
$grey-color-main: #f6f5f5;
$grey-color-border: #D8D8D8;
$grey-dark-color-border: #8d8d8d;

$font-weight-800: 800;
$font-weight-700: 700;

$font-size-24: 24px;
$font-size-16: 16px;
$font-size-13: 13px;
$font-size-10: 10px;

$line-height-28: 28px;
