@import "fonts";
@import "normalize";

body {
  margin: 0 auto;
  padding: 16px 20px;
  font-family: 'Roboto', 'Oxygen', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #030303;
}

@media screen and (max-width: 700px) {
  body {
    padding: 5px 0;
  }
}
