@import "../../styles/base";

.userList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 40px;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
  }

  h4 {
    font-size: $font-size-24;
    font-weight: $font-weight-800;
    margin: 0;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 700px) {
  .userList {
    padding: 0 10px;
  }
}
