@import '../../styles/base';

.modal {
  display: none;
  position: absolute;
  background: rgba(252, 252, 252, 0.5);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 140%;
  top: 0;
  left: 0;
  z-index: 20;

  &.modalOpen {
    display: block;
  }

  .header {
    float: right;
  }

  .wrapper {
    margin: 210px 70px;
    background: $white-color-main;
    border: 1px solid $grey-color-border;
    border-radius: 16px;
    padding: 25px;

    h4 {
      text-align: center;
    }
  }

  .infoContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: $font-size-16;
  }

  .data {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .left {
    width: 75px;
    margin-right: 2px;
  }

  .leftCompany {
    width: 140px;
    margin-right: 2px;
  }

  .right {
    color: $green-color-main;
    font-weight: $font-weight-700;
  }
}

@media screen and (max-width: 700px) {
  .modal {
    padding: 10px;

    .infoContainer {
      flex-direction: column;
      gap: 0;
      font-size: $font-size-13;
    }

    .left, .leftCompany {
      width: 90px;
    }
  }
}

@media screen and (max-width: 550px) {
  .modal {
    padding: 2px;

    .infoContainer {
      font-size: $font-size-10;
    }

    .left, .leftCompany {
      width: 60px;
    }
  }
}
